.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label, 
.form-control label {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid #e0bc38;
  font: inherit;
  border-radius: 2px;
}

button {
  font: inherit;
  border: 1px solid #2249c7;
  color: #2249c7;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover, 
button:hover {
  background-color: #2249c7;
  color: white;
}